<form>
  <h1 mat-dialog-title>
    <ng-container *ngIf="data; else defaultTitle">
      Editing employee
      <strong>{{data.id}}</strong>
    </ng-container>
    <ng-template #defaultTitle>New employee</ng-template>
  </h1>

  <div mat-dialog-content>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Last name</mat-label>
        <input
          matInput
          [formControl]="form.controls.lastNameControl"
          [(ngModel)]="employee.lastName"
          type="text"
          required
        >
        <mat-error *ngIf="form.controls.lastNameControl.hasError('required')">
          Last name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>First name</mat-label>
        <input
          matInput
          [formControl]="form.controls.firstNameControl"
          [(ngModel)]="employee.firstName"
          type="text"
          required
        >
        <mat-error *ngIf="form.controls.firstNameControl.hasError('required')">
          First name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Gender</mat-label>
        <mat-select [formControl]="form.controls.genderControl"
                    [(ngModel)]="employee.gender"
                    required>
          <mat-option value="M">M</mat-option>
          <mat-option value="F">F</mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls.genderControl.hasError('required')">
          Gender is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Birth date</mat-label>
        <input
          matInput
          [formControl]="form.controls.birthDateControl"
          [(ngModel)]="employee.birthDate"
          type="date"
          required
        >
        <mat-error *ngIf="form.controls.birthDateControl.hasError('required')">
          Birth date is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Hire date</mat-label>
        <input
          matInput
          [formControl]="form.controls.hireDateControl"
          [(ngModel)]="employee.hireDate"
          type="date"
          required
        >
        <mat-error *ngIf="form.controls.hireDateControl.hasError('required')">
          Hire date is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button
      [disabled]="!form.valid || isUnchanged"
      mat-raised-button
      color="primary"
      [mat-dialog-close]="employee"
    >
      <ng-container *ngIf="data; else defaultCamption">Save</ng-container>
      <ng-template #defaultCamption>Add</ng-template>
    </button>
  </div>
</form>
